### dependency
tqdm
pandas
numpy
PyYAML

### local packages -
# -e . # << uncomment this to install from setup.py
## Project package
paddleocr==2.6
flask
flask-cors
requests==2.22.0
paddlepaddle==2.3.2
