### dependency
tqdm
pandas
numpy
PyYAML

### local packages -
# -e . # << uncomment this to install from setup.py
## Project package
Flask>=1.1.2
flask-cors
requests==2.22.0
deepface==0.0.75
